#currentMonth {
  padding-top: calc(80px + 33px);
  color: white;
}

.calendar {
  border: 5px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.monthsRow {
  color: var(--accent);
}

th,
td {
  padding: 18px;
}

#currentWeek {
  background: #6d83c7;
  box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.2);
  border-radius: 60px;
}

.cal-wrapper {
  max-width: calc(30vh / 10 * 8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  font-family: "Noto Sans";
  margin: 2rem;
  font-size: 24px;
}
