* {
  margin: 0;
  padding: auto;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

html * {
  font-family: "Noto Sans", sans-serif !important;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
  color: var(--text);
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: var(--bg);
}
.right {
  width: 50%;
  height: 100%;
  background-color: #2e3a5f;
}

h3 {
  font-weight: lighter;
}
