* {
  margin: 0;
  padding: auto;
}

html * {
    font-family: 'Noto Sans', sans-serif !important;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
  color: var(--text);
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
  width: 50%;
  height: 100%;
  background-color: var(--bg);
}
.right {
  width: 50%;
  height: 100%;
  background-color: #2E3A5F;
}

h3 {
    font-weight: lighter;
}