/*Global stuff*/
* {
  margin: 0;
  padding: auto;
}
:root {
  --accent: #6d83c7;
  --complete: #6dc786;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}

html,
body {
  overflow: hidden;
  background: #2e3a5f;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif !important;
}
h3 {
  font-weight: lighter;
}

/*Styling for classes*/
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
  color: var(--text);
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-color: var(--bg);
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100vh;
  background: #2e3a5f;
}
