@media only screen and (max-width: 900px) {
    .right {
        display: none;
    }
    .left {
        width: 100%;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: white;
        --text: black;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #202020;
        --text: white;
    }
}